# Продакшен .env
SECRET_KEY=django-insecure-_$i&ghy42$5ki+155q9$dpz6e410wec7adv*c3u0@6tjn7&yv+
ALLOWED_HOSTS=example.com,www.example.com

# PostgeSQL для продакшена
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host
DB_PORT=5432

# Email для продакшена
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=SousVideDzen@yandex.ru
DEFAULT_FROM_EMAIL=SousVideDzen@yandex.ru
EMAIL_HOST_PASSWORD=nwpaqngakfudbmeq
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False

# Social auth
SOCIAL_AUTH_VK_OAUTH2_KEY=51790532
SOCIAL_AUTH_VK_OAUTH2_SECRET=wD6GV3PiD5QxmAU6gFhe
SOCIAL_AUTH_YANDEX_OAUTH2_KEY=0966d871879a420da2b59ffb8c2d65b4
SOCIAL_AUTH_YANDEX_OAUTH2_SECRET=d0e976e9a62746b88cbb9bcf4b4c4f6b
SOCIAL_AUTH_LOGIN_REDIRECT_URL=/api/v1/auth/o/vk_oauth2/