# Django Settings
DEBUG=TRUE
SECRET_KEY=django-insecure-_$i&ghy42$5ki+155q9$dpz6e410wec7adv*c3u0@6tjn7&yv+

#Social auth keys
SOCIAL_AUTH_VK_OAUTH2_KEY=51788997
SOCIAL_AUTH_VK_OAUTH2_SECRET=03jnhOQgeNVfU0HMdr2Y
SOCIAL_AUTH_YANDEX_OAUTH2_KEY=b57308fc10884dc5ab8e5f39d728c99d
SOCIAL_AUTH_YANDEX_OAUTH2_SECRET=60921ea4d2e94741888d5a9ba4009811

#settings for email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=SousVideDzen@yandex.ru
DEFAULT_FROM_EMAIL=SousVideDzen@yandex.ru
EMAIL_HOST_PASSWORD=nwpaqngakfudbmeq