{% block subject %}
Добро пожаловать! Подтверждение регистрации
{% endblock subject %}

{% block text_body %}
Поздравляем с успешной регистрацией в нашем сервисе Sous Vide!

Если у вас возникнут вопросы или потребуется помощь, обращайтесь к нам по адресу
SousVideDzen@yandex.ru

Для завершения регистрации пройдите по ссылке
{{ protocol }}://{{ domain }}/{{ url|safe }}

С уважением,
Команда Sous Vide

Пожалуйста, не отвечайте на данное письмо, оно было отправлено автоматически.

{% endblock text_body %}

{% block html_body %}
<p>Поздравляем с успешной регистрацией в нашем сервисе Sous Vide!</p>
<p>
Если у вас возникнут вопросы или потребуется помощь, обращайтесь к нам по адресу
SousVideDzen@yandex.ru</p>
<p>Для завершения регистрации пройдите по ссылке<br>
<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>Если вы не регистрировались в нашем сервисе, проигнорируйте это сообщение</p>

<p>С уважением,<br>
Команда Sous Vide</p>

<p><small><small>Пожалуйста, не отвечайте на данное письмо, оно было отправлено автоматически.</small></small></p>
{% endblock html_body %}
