{% block subject %}
Сброс пароля
{% endblock subject %}

{% block text_body %}
Здравствуйте,

Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи.
Чтобы сбросить пароль, пожалуйста, перейдите по ссылке ниже и следуйте инструкциям:

{{ protocol }}://{{ domain }}/{{ url }}
Если вы не запрашивали сброс пароля, проигнорируйте это сообщение.

С уважением,
Команда Sous Vide

Пожалуйста, не отвечайте на данное письмо, оно было отправлено автоматически
{% endblock text_body %}

{% block html_body %}
<p>Здравствуйте,</p>

<p>Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи.<br>
    Чтобы сбросить пароль, пожалуйста, перейдите по ссылке ниже и следуйте инструкциям:<br>
    <a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a></p>

<p>Если вы не регистрировались в нашем сервисе, проигнорируйте это сообщение</p>

<p>С уважением,<br>
Команда Sous Vide</p>

<p><small><small>Пожалуйста, не отвечайте на данное письмо, оно было отправлено автоматически.</small></small></p>
{% endblock html_body %}
